html, body {
    margin: 0;
}
#mainContainer {
    overflow: hidden;
}
.portfolio {
    text-align: center;
    position: relative;
    z-index: 51;
    width: 40%;
    margin-left: 30%;
    background: rgba(255,255,255,.9);
    margin-top: -34rem;
    display: none;
    box-shadow: 0 0 1rem #807e7e inset;
    border-radius: .3rem;
    overflow: scroll;
    height: 25rem;
}
.portfolio::-webkit-scrollbar {
    display: none;
}
.portfolio a {
    display: inline-block;
    color: #554848;
    margin: .5rem .1rem;
    padding: .5rem .1rem;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: arial;
}
.portfolio a:hover {
    color: #e1ad01;
}
.headshot {
    width: 20rem;
    height: 25rem;
    position: absolute;
    margin-top: -34rem;
    margin-left: 39%;
    z-index: 50;
    display: block;
    border: .2rem dotted #6a6868;
}
#wordguess {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
#threeCourse {
    margin-bottom: 2rem;

}
.flex {
    background: linear-gradient(#fff, #f1f1f1);
    width: 100%;
    height: 100%;
}
.subheader {
    font-size: 1.5rem;
    display: inline;
    font-family: arial;
    font-weight: 100;
    color: #554848;
    text-shadow: 0 0 0.15rem white;
}
.box {
    position: relative;
    width: 40rem;
    height: 33rem;
    margin-top: -12rem;
    overflow: hidden;
    opacity: 0.5;
}
.left {
    background: red;
    z-index:1;
    box-shadow: 5px 5px 5px grey;
}
.midLeft {
    background: #663399;
    z-index: 6;
    margin: 0 auto;
    margin-top: -25rem;
    box-shadow: 0 0 13px black;
}
.right {
    background: teal;
    z-index: 3;
    margin-top: -50rem;
    margin-left: 60%;
    box-shadow: 8px 12px 10px grey;
}
.midRight {
    background: #e1ad01;
    z-index: 4;
    margin-top: -9rem;
    margin-left: 48%;
    box-shadow: 12px 22px 15px grey;
}
.letters {
    /* visibility: hidden; */
    font-size: 4rem;
    color: #554848;
    text-shadow: 0 0 .25rem white;
    letter-spacing: .4rem;
    display: block;
}
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
    display: relative;
    margin: 0 auto;
    text-align: center;
  }
#nav {
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 51;
    opacity: 1;
    margin-top: 1rem;
}
.nav {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: arial;
    padding: 1rem;
    border: 1px solid #fff;
    background: #867f8c;
}
.nav:hover {
    background: rgba(225,173,1,.75);
}
hr {
    width: 75%;
}
.ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    /* padding-top: 0.5em; */
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    z-index: 50;
    margin-bottom: 1rem;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

  .portfolio a:hover {
    animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  /* Animation on Portfolio links */
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  /* Media Queries */

  @media (max-width: 1450px) {
      .headshot {
          margin-left: 37%;
      }
  }
  @media (max-width: 1200px) {
    .headshot {
        margin-left: 35%;
    }
}
@media (max-width: 1050px) {
    .headshot {
        margin-left: 33%;
    }
}
@media (max-width: 950px) {
    .headshot {
        margin-left: 31%;
    }
}
@media (max-width: 850px) {
    .headshot {
        margin-left: 29%;
    }
}
@media (max-width: 750px) {
    .headshot {
        margin-left: 27%;
    }
    .portfolio {
        width: 80%;
        margin-left: 10%;

    }
}
@media (max-width: 675px) {
    .headshot {
        margin-left: 24%;
    }
    .nav {
        font-size: 1rem;
    }
}
@media (max-width: 575px) {
    .headshot {
        margin-left: 21%;
    }
    .subheader:nth-child(15) {
        display: none;
    }
}
@media (max-width: 500px) {
    .headshot {
        margin-left: 18%;
    }
}
@media (max-width: 475px) {
    .headshot {
        margin-left: 15%;
    }
}
@media (max-width: 425px) {
    .headshot {
        margin-left: 12%;
        width: 90%;
    }
    .nav {
        display: block;
        width: 100%;
        margin-left: 0 auto;
    }
}
@media (max-width: 375px) {
    .headshot {
        margin-left: 5%;
    }
}
@media (max-width: 325px) {
    .headshot {
        margin-left: 4%;
    }
    .letters {
        font-size: 2rem;
        margin: 1rem auto;
        text-align: center;
    }
    .text-wrapper {
        margin-left: 10%;
    }
}
@media (max-width: 300px) {
    .headshot {
        margin-left: 0;
    }
    .text-wrapper {
        margin-left: 0;
    }
}